---
import perfil from "../assets/images/perfil-josmendev.webp";

import WiFi from "./icons/WiFi.astro";
import Code from "./icons/Code.astro";
import Prompt from "./icons/Prompt.astro";
---
<div class="flex flex-col items-center justify-center relative mt-10">
  <!-- Borde degradado -->
  <div class="w-32 h-32 p-[4px] rounded-full bg-gradient-to-tr from-cyan-900 via-teal-500 to-blue-600">
    <img src={perfil.src} alt="Foto de perfil" class="w-full h-full rounded-full object-cover" />
  </div>

  <!-- Nombre -->
  <h1 class="mt-4 text-2xl font-bold bg-gradient-to-r from-cyan-500 via-teal-500 to-blue-600 text-transparent bg-clip-text">
    Roberto SH
  </h1>

  <!-- Línea tipo terminal -->
  <div class="text-white bg-[#23272c] p-4 rounded-md font-mono text-lg mt-2">
    
    <div class="flex items-center text-sm mt-1 gap-2">
      <Prompt class="text-green-400" />
          <span class="text-white text-lg">@josmen.dev</span>
    </div>
    <div class="flex items-center text-sm mt-1 gap-2">
      <Code />
      <span class="text-blue-300">Coffee + Code</span>
    </div>
    <div class="flex items-center text-sm mt-1 gap-2">
      <WiFi />
      <span class="text-green-400">Online & Creating</span>
    </div>
  </div>
</div>
