---
import AvatarCard from '../components/AvatarCard.astro';
import SocialLinks from '../components/SocialLinks.astro';

import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	</head>
	<body>
		<AvatarCard />
    	<SocialLinks />
		<slot />
	</body>
</html>

<style>
	html{

	}

	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #23272c;  
		gap: 2rem;                   
		align-items: center;        
		justify-content: center;    
		min-height: 100vh;            
		font-family: monospace;
		padding: 1.25rem;             
	}
</style>
